@define-mixin button {
  background-color: var(--highlight-color);
  color: var(--highlight-color-inverse);
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 99999px;
  display: inline-block;
  border: 0;

  &:hover {
    background-color: var(--highlight-color-emphasis);
  }
}

@define-mixin button-outline {
  background-color: var(--background-color);
  color: var(--highlight-color);
  border: 2px solid var(--highlight-color);
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 99999px;
  display: inline-block;

  &:hover {
    background-color: var(--highlight-color-emphasis);
    color: var(--highlight-color-inverse);
  }
}

a.button {
  @mixin button;

  &.compact {
    padding: 0.25rem 0.8rem;
  }
}

button.button {
  @mixin button;
}

.icon-button {
  width: 30px;
  height: 30px;
  color: white;

  color: var(--highlight-color);

  &:hover {
    color: var(--highlight-color-emphasis);
  }
}

a.not-implemented {
  color: grey;
  cursor: not-allowed;

  &.button {
    opacity: 0.5;

    &:hover {
      background-color: var(--highlight-color);
    }
  }
}

a.link-in-text {
  text-decoration: underline;
}

.in-page-nav {
  display: flex;
  flex-direction: row;
  gap: 10px;

  a {
    @mixin button-outline;
    white-space: nowrap;

    &.active {
      @mixin button;
    }
  }

  @media (--mobile) {
    a {
      font-size: 0.8rem;
    }
  }
}
