@define-mixin button {
  background-color: var(--highlight-color);
  color: var(--highlight-color-inverse);
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 99999px;
  display: inline-block;

  &:hover {
    background-color: var(--highlight-color-emphasis);
  }
}

a.button {
  @mixin button;

  &.compact {
    padding: 0.25rem 0.8rem;
  }
}

.icon-button {
  width: 30px;
  height: 30px;
  color: white;

  color: var(--highlight-color);

  &:hover {
    color: var(--highlight-color-emphasis);
  }
}

a.not-implemented {
  color: grey;
  cursor: not-allowed;

  &.button {
    opacity: 0.5;

    &:hover {
      background-color: var(--highlight-color);
    }
  }
}
