.events-grid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

  .event {
    display: flex;
    flex-direction: column;

    img.event-image {
      width: 100%;
      height: auto;
      margin: 0;
    }

    .details {
      padding: calc(var(--gutter) * 0.75);
      background-color: var(--callout-background-color);
      color: white;

      display: flex;
      flex-direction: column;
    }

    .event-host {
      display: flex;
      flex-direction: row;
      align-items: center;

      .avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 10px;
      }

      .host-text {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
