body.with-navbar {
  --nav-height: 64px;

  padding-top: var(--nav-height);
}

.navbar-with-hero {
  .title,
  .subtitle {
    color: var(--highlight-color);
    @mixin text-heading-xlarge;
    max-width: 32rem;
    margin: 0;
  }

  .header-nav {
    height: var(--nav-height);
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 var(--gutter);
    box-sizing: border-box;
    z-index: 100;

    @media (--mobile) {
      grid-template-columns: 1fr 60px;
    }

    h1 {
      display: none;
      @mixin text-heading-xlarge;
      transition: font-size 0.3s ease-in-out;
    }

    .title-container {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    }

    .responsive-site-nav {
      display: flex;
      flex-direction: row;
      flex-shrink: 0;
      height: var(--nav-height);

      a.inactive {
        color: grey;
      }

      @media (--desktop) {
        a.hamburger {
          display: none;
        }

        .site-nav {
          display: flex;
          flex-direction: row;

          > a {
            font-size: 1.2rem;
            line-height: var(--nav-height);

            &:not(:last-child) {
              margin-right: 2rem;
            }

            &:not(.inactive):hover {
              color: var(--highlight-color-emphasis);
              text-decoration: underline;
            }
          }
        }
      }

      @media (--mobile) {
        a.hamburger {
          height: var(--nav-height);
          display: flex;
          flex-direction: column;
          justify-content: center;

          svg {
            width: 48px;
            height: 48px;
            margin: 0 10px;
          }
        }

        .site-nav {
          position: absolute;
          top: var(--nav-height);
          left: 0;
          right: 0;
          background-color: var(--background-color);
          display: flex;
          flex-direction: column;

          > a {
            margin: 0;
            padding: 0 var(--gutter);
            font-size: 1.2rem;
            line-height: 2.5em;

            border-top: 1px solid var(--background-color-emphasis);

            &:hover {
              color: var(--highlight-color-emphasis);
              background-color: var(--background-color-emphasis);
            }
          }
        }

        &.open {
          .site-nav {
          }
        }

        &:not(.open) {
          .site-nav {
            display: none;
          }
        }
      }
    }

    .actions {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      margin-right: var(--gutter);
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }
  }

  .hero {
    padding: var(--gutter);
    padding-top: 100px;
    min-height: 300px;

    .title,
    .subtitle {
      color: var(--highlight-color);
      @mixin text-heading-xlarge;
      max-width: 32rem;
      margin: 0;
    }
  }

  &.sticky {
    .header-nav {
      background-color: var(--background-color);

      h1 {
        display: block;
      }
    }

    .hero {
      .title-container {
        h1 {
          opacity: 0;
        }

        .subtitle {
        }
      }
    }
  }

  &.closed {
    .header-nav {
      background-color: var(--background-color);

      h1 {
        font-size: 2.25rem;

        @media (--mobile) {
          font-size: 1.5rem;
        }
      }

      .actions {
        opacity: 1;
      }
    }

    .hero {
      color: var(--background-color);
    }
  }

  &.logged-in {
    .header-nav {
      .actions {
        opacity: 1;
      }
    }
  }
}
