.sticky-hero {
  background-color: var(--background-color-emphasis);

  .container {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  &.sticky {
    position: fixed;
    top: var(--nav-height);
    width: 100%;
  }

  .hero {
    display: flex;
    flex-direction: row;
    gap: var(--gutter);

    .details {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  .sticky-toolbar {
    padding: 15px 0;
    margin-bottom: -15px;
  }

  .hide-when-closed {
    transition: opacity 0.5s ease-in-out;
  }

  &.closed {
    position: fixed;
    width: 100%;
    z-index: 99;

    .hide-when-closed {
      opacity: 0;
    }
  }

  @media (--mobile) {
    .hero {
      flex-direction: column-reverse;
    }

    .sticky-toolbar {
      margin-right: calc(var(--gutter) * -1);
    }

    nav.in-page-nav {
      overflow-y: hidden;
      overflow-x: scroll;
      width: 100%;
    }
  }
}
