.tag-filters {
  > div {
    margin-bottom: 0.6rem;
  }
}

.tag-button {
  background-color: var(--callout-background-color);
  color: var(--text-color);
  text-decoration: none;
  border-radius: 99999px;
  display: inline-block;

  &.with-count {
    background-color: transparent;
    display: inline-block;
    padding: 0;
    overflow: hidden;

    & > span {
      background-color: var(--callout-background-color);
      padding: 8px 14px;
      display: inline-block;

      &:not(:last-child) {
        margin-right: 2px;
      }
    }

    &:hover {
      border: 2px solid var(--highlight-color);
      margin: -2px;

      & > span {
      }
    }
  }

  &.selected {
    background-color: var(--highlight-color);

    & > span {
      background-color: var(--highlight-color-emphasis);
    }
  }
}
