<table class="admin-report-table">
  <thead>
    <tr>
      <% report.columns.each do |column| %>
      <th><%= column.to_s %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% report.each do |row| %> <% row.each do |value| %>
    <tr>
      <td><%= value.to_s %></td>
    </tr>
    <% end %> <% end %>
  </tbody>
</table>
