<div class="layout-admin-people-index">
  <%= render 'admin/shared/area_leads' %>

  <div class="admin-index-table fobs-table">
    <table>
      <thead>
        <tr>
          <th>Id</th>
        </tr>
      </thead>
      <tbody>
        <% @fob_sessions.each do |fob_session| %>
        <tr>
          <td><%= fob_session.id %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @fob_sessions %>
  </div>
</div>
