<div class="flash-container" data-controller="flash">
  <p class="flash notice">foobar</p>
  <% if notice.present? %>
  <p class="flash notice"><%= notice %></p>
  <% end %> <% if alert.present? %>
  <p class="flash alert"><%= alert %></p>
  <% end %>
</div>
