<div class="flash-container absolute z-50 top-0 w-full">
  <% if notice.present? %>
  <p class="flash notice px-4 py-2 italic"><%= notice %></p>
  <% end %> <% if alert.present? %>
  <p class="flash alert px-4 py-2 italic"><%= alert %></p>
  <% end %>
</div>
