<% if with_hero %>
<div class="navbar-with-hero theme-blue" data-controller="navbar" data-action="scroll@window->navbar#onScroll">
  <div class="header-nav"><%= render partial: 'layouts/shared/navbar_nav' %></div>
  <div class="hero">
    <div class="title-container" data-navbar-target="title">
      <h1 class="title">Maker Community</h1>
      <p class="subtitle">is your local space to build, learn and share your passion for craft.</p>
    </div>
  </div>
</div>
<% else %>
<div class="navbar-with-hero theme-blue sticky closed">
  <div class="header-nav"><%= render partial: 'layouts/shared/navbar_nav' %></div>
</div>
<% end %>
