<div class="title-container">
  <h1 class="title"><a href="/">Maker Community</a></h1>
</div>
<div class="responsive-site-nav" data-controller="dropdown">
  <a class="hamburger" href="#" data-action="click->dropdown#toggle">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" width="48" height="48" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
    </svg>
  </a>
  <nav class="site-nav">
    <a href="<%= events_path %>">Events</a>
    <a href="/" class="not-implemented">Facilities</a>
    <a href="/" class="not-implemented">Membership</a>
    <% if current_user %> <% if policy(:application).can_admin? %>
    <a href="/admin">Admin</a>
    <% end %>
    <a href="<%= destroy_user_session_path %>">Logout</a>
    <% else %>
    <a href="<%= new_user_session_path %>">Login</a>
    <% end %>
  </nav>
</div>
