<article class="theme-people people-me" data-controller="sticky" data-action="scroll@window->sticky#onScroll">
  <div class="sticky-hero" data-sticky-target="hero">
    <div class="container">
      <h1 class="inline-page-title">Hi <%= @user.display_name %>,</h1>
      <div class="hero">
        <div class="details">
          <div class="description">
            <p>Welcome to Maker Community.</p>
            <p>Not <%= @user.display_name %>? <a href="<%= destroy_user_session_path %>">Sign out</a></p>
          </div>
          <div class="call-to-action">
            <div class="sticky-toolbar" data-sticky-target="nav">
              <nav class="in-page-nav" data-controller="in-page-nav" data-action="scroll@window->in-page-nav#onScroll">
                <a href="#membership" data-action="in-page-nav#click">Membership</a>
                <a href="#bookings" data-action="in-page-nav#click">Bookings</a>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div data-sticky-target="contents">
    <div class="container">
      <div class="scroll-target"><a id="membership"></a></div>
      <section class="membership">
        <h2 class="section-heading">Membership</h2>
        <%= render 'people/memberships', memberships: @user.memberships %>
      </section>

      <div class="scroll-target"><a id="bookings"></a></div>
      <section class="bookings">
        <h2 class="section-heading">Bookings</h2>
        <p>Your bookings go here</p>
      </section>
    </div>
  </div>
</article>
