.bookings-new {
  .simple_form {
    .show-user {
      display: flex;
      flex-direction: row;
      gap: 12px;

      .details {
        .display_name {
          font-weight: bold;
        }
      }
    }

    .for-prices {
      .for-one-price {
        padding: 0.5rem;

        &:nth-child(odd) {
          background-color: var(--callout-background-color);
        }

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .input {
          margin-top: 0;
        }
      }

      &.field_with_errors {
        border: 2px solid var(--error-color);
      }
    }

    &.free {
      .payment-section {
        display: none;
      }
    }
  }

  /* Remove when finished */
  .outline-block {
    background-color: silver;
    border: 2px dashed grey;
    min-height: 200px;
    text-align: center;
    line-height: 200px;

    &.in-progress {
      line-height: inherit;
    }
  }
}
