.layout-devise {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .form-container {
    max-width: 20rem;
    /* min-width: 15rem; */
  }

  h2 {
    margin-bottom: 1.5rem;
    @mixin text-heading-large;
  }

  .field {
    margin-bottom: 1rem;

    input[type="text"],
    input[type="email"],
    input[type="password"] {
      width: 100%;
      margin-top: 4px;
    }
  }

  .actions {
    margin-top: 2rem;

    input[type="submit"] {
      @mixin button;
    }
  }

  .devise-shared-links {
    margin-top: 0.5rem;
    a {
      text-decoration: underline;
    }
  }

  /*  .devise em {
    @apply text-gray-400;
  }


  .devise .actions {
    @apply mt-4;
  }

  .devise-shared-links {
    @apply mt-8;
  }

  .devise-shared-links a {
    @apply underline;
  }

  .devise input[type="submit"] {
    @apply bg-pink-dark text-blue-dark button-sm;
  }

  .devise input[type="submit"]:hover {
    @apply bg-pink-light;
  } */
}
