.events-show {
  .page-title {
    margin-bottom: var(--gutter);
  }

  .event-image {
    width: 100%;
    height: auto;
    max-height: 500px;
    object-fit: cover;
  }

  .details {
    .detail-with-icon {
      display: flex;
      flex-direction: row;
      margin-bottom: 2rem;

      > .icon {
        width: 64px;
        height: 64px;
        margin-right: 10px;
        color: var(--highlight-color);
        flex-shrink: 0;
      }
    }

    .big-date {
      font-size: 1.5rem;
      margin-bottom: 0.3rem;
    }

    .call-to-action {
      display: block;
      text-align: center;
    }
  }

  .price-details {
    .price-type-full,
    .price-type-free {
      font-size: 1.5rem;
    }
  }

  .sessions-selector {
    margin-bottom: 1em;

    .link-container {
      margin-top: 0;

      &:not(:last-child) {
        margin-bottom: 4px;
      }
    }

    .session-link {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background-color: var(--callout-background-color);
      padding: 0.25em 0.5em;

      &.active {
        background-color: var(--highlight-color);
        color: var(--highlight-color-inverse);
      }
    }
  }

  @media (--desktop) {
    .columns {
      display: flex;
      flex-direction: row;

      .main {
        margin-right: var(--gutter);
      }

      .details {
        min-width: 350px;
        flex: 1;
      }
    }
  }

  @media (--mobile) {
    .columns {
      display: flex;
      flex-direction: column-reverse;

      .details {
        margin-top: 1rem;
        margin-bottom: 2rem;
      }

      /*.details {
        min-width: 350px;
        flex: 1;
      } */
    }
  }
}
