.layout-home {
  display: flex;
  flex-direction: column;

  @media (--desktop) {
    .row-2 {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  .area-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    padding: var(--gutter);

    h2 {
      @mixin text-heading-large;
    }

    p {
      @mixin text-large;
    }
  }
}
