.layout-home {
  display: flex;
  flex-direction: column;

  @media (--desktop) {
    .row-2 {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  .area-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    .block-contents {
      margin: calc(var(--gutter) * 2) var(--gutter);
    }

    .block-images {
      display: flex;
      flex-direction: row;

      img {
        width: 100%;
        height: auto;
      }
    }

    h2 {
      @mixin text-heading-large;
      line-height: 1em;
    }

    p {
      @mixin text-large;
    }

    &.image-right {
      display: grid;
      grid-template-columns: 3fr 1fr;

      > img {
        /* height: auto;
        width: auto; */
      }
    }
  }

  .theme-program {
    .coming-soon {
      margin-bottom: 1.5rem;

      h3 {
        margin-bottom: 1rem;
      }
    }
  }
}
