.people-me {
  section {
    &:not(:last-child) {
      margin-bottom: 2rem;
    }

    > h2 {
      margin-bottom: 1em;
    }
  }

  .actions-on-right {
    display: flex;
    gap: var(--gutter);

    .body {
      max-width: 800px;
      flex-grow: 1;
    }

    .actions {
      max-width: 350px;
    }

    @media (--mobile) {
      flex-direction: column;
    }

    @media (--desktop) {
      flex-direction: row-reverse;
      justify-content: flex-end;
    }
  }

  .details {
    .detail-with-icon {
      display: flex;
      flex-direction: row;
      margin-bottom: 2rem;

      > .icon {
        width: 64px;
        height: 64px;
        margin-right: 10px;
        color: var(--highlight-color);
        flex-shrink: 0;
      }
    }
  }

  .no-data {
    text-align: center;
  }
}
