<div class="layout-admin-people-index">
  <%= render 'admin/shared/area_leads' %> <%= render partial: 'admin/event_sessions/sessions', locals: { filters: @filters, records: @event_sessions, q: @q } %>
</div>
