<div class="theme-program bookings-new">
  <div class="container">
    <%= render "events/event_session_preview", event_session: @event_session, link: false %>
    <div class="outline-block">form</div>
  </div>
</div>
