.layout-admin-people-index {
  .stats-callout {
    border: 2px solid var(--highlight-color);
    border-radius: 0.5rem;
    padding: var(--gutter);

    .callout-title {
      @mixin text-heading-small;
      margin-bottom: 1rem;
    }

    .stats {
      display: grid;
      grid-template-columns: repeat(6, 1fr);

      .value {
        color: var(--highlight-color);
        @mixin text-heading-large;
      }
    }
  }
}
