:root {
  --breakpoint-s: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
}

.layout-home {
  display: flex;
  flex-direction: column;

  @media only screen and (min-width: 768px) {
    .row-2 {
      border: 10px solid red;
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
}
