<div class="more-events">
  <h3>Want to see more events?</h3>
  <p>
    Maker Community loves to run workshops that help people share skills and build confidence and community. If you have something you'd like to learn, or like to teach, please drop us a line to chat
    about it.
  </p>
  <a class="button" href="/contact">Contact Us</a>
</div>
