<table class="sessions-selector">
  <tbody>
    <% sessions.each do |session| %>
    <tr>
      <td><%= link_to format_time_range_html(session.time_range), event_path(session) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
