<div class="sessions-selector">
  <% sessions.each do |session| %>
  <div class="link-container">
    <%= link_to event_path(session), class: "session-link #{session == current_session ? 'active' : nil}" do %>
    <span><%= format_time_range_html(session.time_range) %></span>
    <span><% if session.has_person_limit? %><%= pluralize session.remaining_persons, 'spot' %> left<% end %></span>
    <% end %>
  </div>
  <% end %>
</div>
