<div class="theme-program">
  <div class="container">
    <h1 class="inline-page-title">Workshops and Events</h1>
    <div class="events-grid"><% @event_sessions.each do |event_session| %> <%= render 'events/event', event_session: event_session %> <% end %></div>
  </div>
</div>
