<div class="theme-program">
  <div class="container">
    <div class="events-show">
      <div class="main">
        <h1><%= @event_session.event.title %></h1>
        <% if @event_session.event.image.present? %> <%= image_model_tag(@event_session.event.image, class: 'event-image') %> <% end %>

        <div><%= @event_session.event.content.html_safe %></div>
      </div>
      <div class="details">details</div>
    </div>
  </div>
</div>
