<form id="payment-form" class="stripe-payment-form" data-controller="payment" data-client-secret="<%= client_secret %>" data-return-url="<%= @return_url %>">
  <div id="payment-element">
    <!--Stripe.js injects the Payment Element-->
  </div>
  <div class="actions">
    <button id="submit">
      <div class="spinner hidden" id="spinner"></div>
      <span id="button-text">Pay now</span>
    </button>
    or <a href="javascript: history.back()" class="text-link">back</a>
  </div>
  <div id="payment-message" class="hidden"></div>
</form>
