<div class="theme-<%= @order.department || 'blue' %> order-pay">
  <div class="container">
    <div class="form-container single-column-form">
      <div class="context"><%= render 'orders/summary', order: @order %></div>
      <%= render 'orders/payment_form', order: @order, client_secret: @client_secret %>
    </div>
  </div>
</div>
