/*
"blue-dark-highlight": "#4d5ab6",
"sky-light": "#94d8e7",
"pink-dark": "#ee7879",
"pink-very-dark": "#6D3F46",
"pink-light": "#f4abaa",
beige: "#E1A994", */

:root {
  --blue-dark: #2a3166;
  --blue-dark-highlight: #4d5ab6;
  --teal-dark: #0d9488;
  --teal-light: #14b8a6;
  --teal-lighter: #22e6d1;
  --sky: #78cee1;
  --sky-darker: #2ba9c5;
  --gold: #efbf6e;
  --white: #ffffff;
  --black: #000000;
  --pink-dark: #ee7879;
  --pink-light: #f4abaa;
  --gray-100: #f3f4f6;
  --slate-800: rgb(30, 41, 59);
  --slate-700: rgb(51, 65, 85);
  --slate-600: #475569;
  --slate-500: #64748b;
}

@define-mixin blue-dark-highlight {
  --highlight-color: var(--blue-dark);
  --highlight-color-emphasis: var(--blue-dark-highlight);
  --highlight-color-inverse: var(--white);
}

@define-mixin apply-theme-colors {
  background-color: var(--background-color);
  color: var(--text-color);

  h1,
  h2,
  h3 {
    color: var(--highlight-color);

    a {
      color: var(--highlight-color);

      &:hover {
        color: var(--highlight-color-emphasis);
      }
    }
  }

  .callout {
    --background-color: var(--callout-background-color);
    background-color: var(--background-color);
  }
}

.theme-blue {
  --text-color: var(--gray-100);
  --highlight-color: var(--pink-dark);
  --highlight-color-emphasis: var(--pink-light);
  --highlight-color-inverse: var(--white);
  --background-color: var(--blue-dark);
  --background-color-emphasis: var(--blue-dark-highlight);

  &.theme-inverted {
    --text-color: var(--gray-100);
    --highlight-color: var(--pink-dark);
    --highlight-color-inverse: var(--black);
    --background-color: var(--slate-800);
    --callout-background-color: var(--slate-700);
  }

  @mixin apply-theme-colors;
}

.theme-public {
  --text-color: var(--gray-100);
  --highlight-color: var(--pink-dark);
  --highlight-color-emphasis: var(--pink-light);
  --highlight-color-inverse: var(--white);
  --background-color: var(--blue-dark);
  --background-color-emphasis: var(--blue-dark-highlight);

  &.theme-inverted {
    --text-color: var(--gray-100);
    --highlight-color: var(--pink-dark);
    --highlight-color-inverse: var(--black);
    --background-color: var(--slate-800);
    --callout-background-color: var(--slate-700);
  }

  @mixin apply-theme-colors;
}

.theme-people {
  --text-color: var(--gray-100);
  --background-color: var(--teal-dark);
  --background-color-emphasis: var(--teal-light);
  --callout-background-color: var(--teal-light);

  @mixin blue-dark-highlight;

  &.theme-inverted {
    --text-color: var(--gray-100);
    --highlight-color: var(--teal-light);
    --highlight-color-emphasis: var(--teal-lighter);
    --highlight-color-inverse: var(--black);
    --background-color: var(--slate-800);
    --callout-background-color: var(--slate-700);
  }

  @mixin apply-theme-colors;
}

.theme-place {
  --text-color: var(--black);
  --background-color: var(--sky);
  --background-color-emphasis: var(--sky-darker);

  @mixin blue-dark-highlight;

  @mixin apply-theme-colors;
}

.theme-program {
  --text-color: var(--black);
  --background-color: var(--gold);
  --callout-background-color: #e9aa3e;
  @mixin blue-dark-highlight;

  &.theme-inverted {
    --text-color: var(--gray-100);
    --highlight-color: var(--gold);
    --highlight-color-inverse: var(--black);
    --background-color: var(--slate-800);
    --callout-background-color: var(--slate-700);
  }

  @mixin apply-theme-colors;
}

.theme-inverted {
  --tag-background-color: var(--blue-dark-highlight);
  --tag-background-color-hightlight: #5e6abd;
  --tag-text-color: var(--white);
  --text-color-muted: #9ca3af;
}

.theme-black {
  --background-color: var(--black);
  --text-color: var(--white);
  --highlight-color: var(--white);

  @mixin apply-theme-colors;
}
