form {
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    box-sizing: border-box;
    padding: 6px 8px;
    /* border-color: var(--highlight-color); */

    &:focus {
      outline: none !important;
      border-color: var(--highlight-color);
      box-shadow: 0 0 10px var(--highlight-color);
    }
  }
}

.form-container {
  &.single-column-form {
    margin-top: var(--gutter);
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;

    .form-title {
      display: block;
      border-bottom: 2px solid var(--highlight-color);
      margin-bottom: 1.5rem;
    }
  }
}
