/* :root {
  --breakpoint-s: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
} */

@custom-media --desktop (min-width: 800px);
@custom-media --mobile (max-width: 799px);

:root {
  --gutter: 20px;

  @media (--mobile) {
    --gutter: 15px;
  }
}

.container {
  padding: var(--gutter);
  max-width: 1280px;
  box-sizing: border-box;
  margin: 0 auto;
}
