<div class="theme-program">
  <div class="container">
    <article class="page-facilities">
      <div class="header">
        <h1 class="inline-page-title">Our Shared Workshop in Brunswick</h1>
      </div>
      <div class="outline-block">Location</div>
      <section>
        <h2 class="section-heading">Accessibility</h2>
        <div class="outline-block">Accessibility</div>
      </section>
      <section>
        <h2 class="section-heading">Areas</h2>
        <div class="area-list">
          <div class="area outline-block">Electronics</div>
          <div class="area outline-block">3D Printing</div>
          <div class="area outline-block">Machine Woodwork</div>
          <div class="area outline-block">Hand Woodwork</div>
          <div class="area outline-block">Metalwork</div>
          <div class="area outline-block">Textiles</div>
        </div>
      </section>
    </div>
  </div>
</div>
