<article class="theme-place page-facilities" data-controller="sticky" data-action="scroll@window->sticky#onScroll">
  <div class="sticky-hero" data-sticky-target="hero">
    <div class="container">
      <h1 class="inline-page-title">Our Shared Workshop in Brunswick</h1>
      <div class="hero">
        <div class="details">
          <div class="description">
            <p>Maker Community is a shared workshop space at <a class="link-in-text" href="https://goo.gl/maps/yS66KdMw8Avp1m4A8">70 Saxon St Brunswick</a>, in Melbourne (Australia).</p>
            <p>
              If you've been to a Maker Space, or a Men's Shed, you probably get the idea. Our workshop is open to everyone, and is a great place to work on your own projects and take part of group
              builds and activities.
            </p>
          </div>
          <div class="call-to-action">
            <h2 class="hide-when-closed">Find out more</h2>
            <div class="sticky-toolbar" data-sticky-target="nav">
              <nav class="in-page-nav" data-controller="in-page-nav">
                <a href="#getting-there" data-action="in-page-nav#click">Getting there</a>
                <a href="#accessibility" data-action="in-page-nav#click">Accessibility</a>
                <a href="#areas" data-action="in-page-nav#click">Workshop areas</a>
                <a href="#tools" data-action="in-page-nav#click">Tools</a>
              </nav>
            </div>
          </div>
        </div>
        <img
          class="section-photo hide-when-closed"
          height="222"
          src="<%= asset_path 'building-front.jpg' %>"
          alt="Photo showing the front of the building at 70 Saxon St while volunteers install our sign."
        />
      </div>
    </div>
  </div>

  <div data-sticky-target="contents">
    <div class="container">
      <div class="page-facilities">
        <div class="scroll-target"><a id="getting-there"></a></div>
        <section>
          <h2 class="section-heading">Getting there</h2>
          <div class="outline-block">there</div>
        </section>

        <div class="scroll-target"><a id="accessibility"></a></div>
        <section>
          <h2 class="section-heading">Accessibility</h2>
          <div class="outline-block">Accessibility</div>
        </section>

        <div class="scroll-target"><a id="areas"></a></div>
        <section>
          <h2 class="section-heading">Workshop areas</h2>
          <div class="area-list">
            <div class="area outline-block">Electronics</div>
            <div class="area outline-block">3D Printing</div>
            <div class="area outline-block">Machine Woodwork</div>
            <div class="area outline-block">Hand Woodwork</div>
            <div class="area outline-block">Metalwork</div>
            <div class="area outline-block">Textiles</div>
          </div>
        </section>

        <div class="scroll-target"><a id="tools"></a></div>
        <section>
          <h2 class="section-heading">Tools</h2>
          <div class="area outline-block">Tools</div>
        </section>
      </div>
    </div>
  </div>
</article>
