<div class="layout-home">
  <div class="theme-blue text-pink-dark py-20 px-6 sticky-header">
    <h1 class="text-4xl leading-snug max-w-lg sm:text-5xl sm:leading-snug">
      <span class="only-open">Your local space to build, learn and share your passion for craft.</span>
    </h1>
  </div>
  <div class="row-2">
    <div class="theme-teal text-gray-100 py-16 px-6 flex flex-col justify-between items-start">
      <div>
        <h2 class="text-4xl font-medium text-blue-dark mb-3">Room to create</h2>
        <p class="text-lg mb-6 max-w-prose">
          We've got a fully equipped woodworking space, heaps of 3D Printers, a hefty CNC router, soldering stations, electronics, laser cutter, textiles, drones and much more. Maker Community is like
          your dream workshed, with the room and tools to create that project that you've always imagined.
        </p>
      </div>
      <a href="#" class="rounded-full bg-blue-dark hover:bg-blue-dark-highlight text-white py-2 px-6">Explore the workshop</a>
    </div>
    <div class="theme-sky text-black py-16 px-6 flex flex-col justify-between items-start">
      <div>
        <h2 class="text-blue-dark font-medium text-4xl mb-3">Learn to DIY</h2>
        <p class="text-lg mb-6 max-w-prose">
          No matter your skill-level, our workshops will empower you to transform your project ideas into reality. From CNC Machining to Jewellery Making: we supply the tools and knowledge to build
          your confidence, as well as your project.
        </p>
      </div>
      <a class="rounded-full bg-blue-dark hover:bg-blue-dark-highlight text-white py-2 px-6" href="<%= events_path %>">Upcoming classes</a>
    </div>
  </div>
  <div class="theme-gold py-16 px-6">
    <h2 class="text-4xl font-medium text-blue-dark mb-3">A Community of Makers</h2>
    <p class="text-lg max-w-prose mb-6">
      Our members are into interests such as woodworking, digital fabrication, cosplay, sewing, model making, RC planes, cars and drones, micro-controllers, robotics, coding, plastic recycling,
      prototyping and pretty much every other facet of ‘Making’ in its broadest sense. You are sure to find like minded and kindred spirits at Maker Community.
    </p>
    <a href="#" class="rounded-full text-white bg-blue-dark hover:bg-blue-dark-highlight py-2 px-6">Who's Involved?</a>
  </div>
</div>
