<div class="layout-home">
  <div class="row-2">
    <section class="theme-teal area-block">
      <div>
        <h2>Room to create</h2>
        <p>
          We've got a fully equipped woodworking space, heaps of 3D Printers, a hefty CNC router, soldering stations, electronics, laser cutter, textiles, drones and much more. Maker Community is like
          your dream workshed, with the room and tools to create that project that you've always imagined.
        </p>
      </div>
      <a href="#" class="button">Explore the workshop</a>
    </section>
    <section class="theme-sky area-block">
      <div>
        <h2>Learn to DIY</h2>
        <p>
          No matter your skill-level, our workshops will empower you to transform your project ideas into reality. From CNC Machining to Jewellery Making: we supply the tools and knowledge to build
          your confidence, as well as your project.
        </p>
      </div>
      <a class="button" href="<%= events_path %>">Upcoming classes</a>
    </section>
  </div>
  <section class="theme-gold area-block">
    <h2>A Community of Makers</h2>
    <p>
      Our members are into interests such as woodworking, digital fabrication, cosplay, sewing, model making, RC planes, cars and drones, micro-controllers, robotics, coding, plastic recycling,
      prototyping and pretty much every other facet of ‘Making’ in its broadest sense. You are sure to find like minded and kindred spirits at Maker Community.
    </p>
    <a href="#" class="button">Who's Involved?</a>
  </section>
</div>
