<div class="bg-blue-dark text-pink-dark py-20 px-6 sticky-header" data-controller="sticky-header" data-action="scroll@window->sticky-header#onScroll">
  <h1 class="text-4xl leading-snug max-w-lg sm:text-5xl sm:leading-snug">
    <span class="only-open">Your local space to build, learn and share your passion for craft.</span>
  </h1>
</div>
<div class="grid grid-cols-1 md:grid-cols-2">
  <div class="bg-teal-dark text-gray-100 py-20 px-6">
    <h2 class="text-4xl font-medium text-blue-dark mb-3">Room to create</h2>
    <p class="text-lg mb-6">
      We've got a fully equipped woodworking space, heaps of 3D Printers, a hefty CNC router, soldering stations, electronics, laser cutter, textiles, drones and much more. Maker Community is like
      your dream workshed, with the room and tools to create that project that you've always imagined.
    </p>
    <button class="rounded-full bg-blue-dark text-white py-2 px-6">Explore the workshop</button>
  </div>
  <div class="bg-skyblue-light text-black py-16 px-6">
    <h2 class="text-blue-dark font-medium text-4xl mb-3">Learn to DIY</h2>
    <p class="text-lg mb-6">
      No matter your skill-level, our workshops will empower you to transform your project ideas into reality. From CNC Machining to Jewellery Making: we supply the tools and knowledge to build your
      confidence, as well as your project.
    </p>
    <button class="rounded-full bg-blue-dark text-white py-2 px-6">Upcoming classes</button>
  </div>
</div>
<div class="bg-gold py-16 px-6">
  <h2 class="text-4xl font-medium text-blue-dark mb-3">A Community of Makers</h2>
  <p class="text-lg max-w-prose mb-6">
    Our members are into interests such as woodworking, digital fabrication, cosplay, sewing, model making, RC planes, cars and drones, micro-controllers, robotics, coding, plastic recycling,
    prototyping and pretty much every other facet of ‘Making’ in its broadest sense. You are sure to find like minded and kindred spirits at Maker Community.
  </p>
  <button class="rounded-full text-white bg-blue-dark py-2 px-6">Who's Involved?</button>
</div>
