.simple_form {
  input {
    &.string {
      border: 2px solid var(--callout-background-color);
      display: block;
      width: 100%;
      padding: 0.5rem 0.75rem;
    }
  }

  input[type="submit"] {
    @mixin button;
  }

  div.input {
    &:not(:first-of-type) {
      margin-top: 1rem;
    }

    &.hidden {
      display: none;
    }

    label {
      display: block;
      margin-bottom: 0.2rem;
    }
  }

  .form-section {
    &:not(:first-of-type) {
      margin-top: 1rem;
      border-top: 3px solid var(--callout-background-color);
      padding-top: 1rem;
    }

    h2 {
      margin-bottom: 1rem;
      line-height: 1em;
    }
  }

  .actions {
    margin-top: 1.5rem;
  }

  .small-integer-input {
    display: flex;
    flex-direction: row;
    align-items: center;

    input {
      width: 2rem;
      height: 2rem;
      box-model: border-box;
      background-color: transparent;
      text-align: center;
      color: var(--highlight-color);
      font-size: 1.5rem;
      padding: 0;
      border: none;
      margin: 0;
    }

    button {
      --size: 2rem;

      @mixin button;
      width: var(--size);
      height: var(--size);
      line-height: var(--size);
      /* vertical-align: middle; */
      padding: 0;
      box-model: border-box;

      margin-left: 5px;
    }
  }
}
