<div class="admin-layout-edit">
  <div class="breadcrumbs">
    <a class="breadcrumb return" href="<%= admin_plans_path %>">↩ Plans</a>
  </div>
  <h1 class="page-title">Edit Plan: <%= @plan.title %></h1>
  <%= render 'form', plan: @plan %>
</div>
