<div class="layout-admin-people-index">
  <%= render 'admin/shared/area_leads' %>
  <div class="admin-index-table">
    <table>
      <thead>
        <tr>
          <th>Header</th>
          <th class="right">Roles</th>
        </tr>
      </thead>
      <tbody>
        <% @plans.each do |plan| %>
        <tr>
          <td><%= plan.title %></td>
          <td>stuff</td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @plans %>
  </div>
</div>
