<div class="layout-admin-people-index">
  <%= render 'admin/shared/area_leads' %>
  <div class="admin-index-table">
    <table>
      <thead>
        <tr>
          <th>Plan</th>
          <th class="right"></th>
        </tr>
      </thead>
      <tbody>
        <% @plans.each do |plan| %>
        <tr>
          <td><span class="primary-row-title"><%= plan.title %></span></td>
          <td class="right"><%= link_to 'edit', edit_admin_plan_path(plan) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @plans %>
  </div>
</div>
