/*
"blue-dark-highlight": "#4d5ab6",
"sky-light": "#94d8e7",
"pink-dark": "#ee7879",
"pink-very-dark": "#6D3F46",
"pink-light": "#f4abaa",
beige: "#E1A994", */

:root {
  --blue-dark: #2a3166;
  --teal-dark: #0d9488;
  --sky: #78cee1;
  --gold: #efbf6e;
  --black: #000000;
  --gray-100: #f3f4f6;
}

@define-mixin apply-theme-colors {
  background-color: var(--background-color);
  color: var(--text-color);
}

.theme-blue {
  --text-color: var(--gray-100);
  --background-color: var(--blue-dark);

  @mixin apply-theme-colors;
}

.theme-teal {
  --text-color: var(--gray-100);
  --background-color: var(--teal-dark);

  @mixin apply-theme-colors;
}

.theme-sky {
  --text-color: var(--black);
  --background-color: var(--sky);

  @mixin apply-theme-colors;
}

.theme-gold {
  --text-color: var(--black);
  --background-color: var(--gold);

  @mixin apply-theme-colors;
}
