/*
"blue-dark-highlight": "#4d5ab6",
"sky-light": "#94d8e7",
"pink-dark": "#ee7879",
"pink-very-dark": "#6D3F46",
"pink-light": "#f4abaa",
beige: "#E1A994", */

:root {
  --blue-dark: #2a3166;
  --blue-dark-highlight: #4d5ab6;
  --teal-dark: #0d9488;
  --sky: #78cee1;
  --gold: #efbf6e;
  --white: #ffffff;
  --black: #000000;
  --pink-dark: #ee7879;
  --pink-light: #f4abaa;
  --gray-100: #f3f4f6;
  --slate-800: rgb(30, 41, 59);
  --slate-700: rgb(51, 65, 85);
}

@define-mixin blue-dark-highlight {
  --highlight-color: var(--blue-dark);
  --highlight-color-emphasis: var(--blue-dark-highlight);
  --highlight-color-inverse: var(--white);
}

@define-mixin apply-theme-colors {
  background-color: var(--background-color);
  color: var(--text-color);

  h1,
  h2,
  h3 {
    color: var(--highlight-color);

    a {
      color: var(--highlight-color);

      &:hover {
        color: var(--highlight-color-emphasis);
      }
    }
  }
}

.theme-blue {
  --text-color: var(--gray-100);
  --highlight-color: var(--pink-dark);
  --highlight-color-emphasis: var(--pink-light);
  --highlight-color-inverse: var(--white);
  --background-color: var(--blue-dark);

  @mixin apply-theme-colors;
}

.theme-teal {
  --text-color: var(--gray-100);
  --background-color: var(--teal-dark);
  @mixin blue-dark-highlight;

  @mixin apply-theme-colors;
}

.theme-sky {
  --text-color: var(--black);
  --background-color: var(--sky);
  @mixin blue-dark-highlight;

  @mixin apply-theme-colors;
}

.theme-gold {
  --text-color: var(--black);
  --background-color: var(--gold);
  @mixin blue-dark-highlight;

  &.theme-inverted {
    --text-color: var(--gray-100);
    --highlight-color: var(--gold);
    --background-color: var(--slate-800);

    .callout {
      --background-color: var(--slate-700);
      background-color: var(--background-color);
    }
  }

  @mixin apply-theme-colors;
}
