<div class="layout-admin-people-metrics">
  <h2>People History & Targets</h2>
  <section>
    <div class="section-intro">
      <h3>Membership Growth</h3>
      <p>
        We want to grow membership to a level where it will sustain the our usage of the current space. This table shows monthly memberships paid in each month, and doesn't include pre-paid or free
        memberships.
      </p>
    </div>
    <%= render partial: 'admin/shared/reports/table', locals: { report: @member_growth } %>
  </section>
</div>
