.admin-people-show {
  .image-and-details {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: var(--gutter);

    .person-image {
      flex: 0 0 auto;
      max-width: 33%;
      height: auto;

      @mixin mobile-guttered;
    }

    @media (--mobile) {
      flex-direction: column;
    }
  }
}
