.layout-admin {
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow: scroll;

  .admin-body {
    flex-grow: 1;
  }

  .admin-content {
    margin: var(--gutter);

    .breadcrumbs {
      margin-bottom: 0.5rem;

      a,
      a:visited,
      a:link {
        color: var(--text-color);
      }

      a:hover {
        color: var(--highlight-color);
        text-decoration: underline;
      }
    }
  }

  .admin-area-leads {
    margin-bottom: 1rem;

    .role {
      display: flex;
      flex-direction: row;

      h2 {
        font-size: 1rem;
        margin-right: 1rem;
        color: var(--text-color);
      }

      a.person {
        margin-right: 0.6rem;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    @media (--mobile) {
      display: none;
      margin-bottom: 0;
    }
  }

  .center {
    max-width: 600px;
    margin: 20vh auto;
  }

  @media (--mobile) {
    flex-direction: column;
    align-items: justify;
    height: 100%;
    overflow: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .admin-body {
      overflow: scroll;
    }
  }
}
