.layout-admin-people-metrics {
  > h2 {
    margin-bottom: var(--gutter);
  }

  > section {
    .section-intro {
      border-left: 3px solid var(--highlight-color);
      padding-left: calc(var(--gutter) / 2);
    }
  }
}
