.layout-show {
  .title-container {
    margin-bottom: var(--gutter);
    @mixin mobile-guttered;
  }

  h1.page-title {
    @mixin mobile-guttered;
  }

  .breadcrumbs {
    @mixin mobile-guttered;
  }

  .show-details {
    border: 2px solid var(--highlight-color);
    border-radius: 0.5rem;
    padding: var(--gutter);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--gutter);
    margin-bottom: var(--gutter);

    @media (--mobile) {
      border-radius: 0;
      border-left-width: 0;
      border-right-width: 0;
    }

    @media (--mobile) {
      grid-template-columns: repeat(2, 1fr);
    }

    .detail {
      .title {
        font-weight: bold;
        font-size: 1.2rem;
        color: var(--highlight-color);
        margin-bottom: 0.5rem;
      }
    }
  }

  .show-heading {
    @mixin mobile-guttered;
  }
}
