@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/

@layer components {
  .sticky-header {
    @apply overflow-hidden;
    /* transition: all 0.5s ease-in-out; */
    min-height: 60px;
  }

  .sticky-header.open {
  }

  .sticky-header.closed {
    @apply py-0 sticky top-0;
  }

  .sticky-header.open .only-open {
    opacity: 1;
  }

  .sticky-header.closed .only-open {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
}
