<div class="center">
  <h1>Welcome to Maker Community admin</h1>
  <p>
    Please be aware that this area contains access to the personal information of members and others who have used our space. It's important that we treat this information as private and only use it
    for the purposes of running this organisation.
  </p>
</div>
