<div class="filters">
  <% if filters.present? %><span class="filters-title">Filtered by:</span> <% filters.each do |filter| %>
  <div class="filter"><span class="filter-title"><%= filter.title %></span><%= link_to '✕', @search_params.merge(filters: []), class: 'close-button' %></div>
  <% end %> <% end %>
</div>
