<div class="admin-menu">
  <nav class="menu-nav">
    <a class="nav-item" href="<%= admin_people_path %>">People</a>
    <div class="nav-item disabled">Place</div>
    <a class="nav-item" href="/admin">Program</a>
  </nav>
</div>
