<div class="month-nav">
  <a href="<%= admin_open_times_path(month: month - 1) %>">&#9668;</a>
  <span class="current_month"><%= format_month_text month %></span>
  <a href="<%= admin_open_times_path(month: month + 1) %>">&#9658;</a>
</div>
