.admin-index-table {
  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    padding: 0;
    /* margin-left: calc(0px - var(--gutter));
    margin-right: calc(0px - var(--gutter)); */
    /* margin: 0; */
    overflow-x: scroll;

    thead {
      th {
        text-align: left;
        padding: 0.5rem var(--gutter);

        &.right {
          text-align: right;
        }
      }
    }

    tbody {
      tr {
        &:nth-child(odd) {
          background-color: var(--callout-background-color);
        }

        &.unconfirmed {
          opacity: 0.8;
          color: red;
        }
      }

      td {
        padding: 0 var(--gutter);
        min-height: 36px;

        &.right {
          text-align: right;
        }

        .primary-row-title {
          padding: 0.5rem 0;
          display: block;
        }

        a.primary-row-link {
          padding: 0.5rem 0;
          display: block;
          color: var(--text-color);

          &:hover {
            text-decoration: underline;
          }
        }

        &.date-past {
          color: var(--text-color-muted);
        }
      }
    }
  }

  .pagination {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;

    @mixin mobile-guttered;

    & > span {
      display: block;
      padding: 1rem 0.5rem;

      a {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .tags {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    & > .tag:not(:last-child) {
      margin-right: 0.5rem;
    }

    @media (--mobile) {
      & > .tag:not(:last-child) {
        margin-right: 0;
      }
    }
  }

  .tag {
    padding: 0.3rem 0.8rem;
    display: inline-block;
    background-color: var(--tag-background-color);
    color: var(--tag-text-color);
    border-radius: 0.5rem;
    font-size: 0.8rem;

    @media (--mobile) {
      padding: 0.2rem 0.4rem;
      border-radius: 0.3rem;

      &:not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: 1px solid var(--tag-separator);
      }

      &:not(:first-child) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }

  .search-with-submit {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    & > input[type="search"] {
      padding: 0.5rem 1rem;
      border-radius: 0.5rem 0 0 0.5rem;
      font-size: 0.8rem;
      max-width: 200px;
    }

    & > input[type="submit"] {
      padding: 0.5rem 1rem;
      border-radius: 0 0.5rem 0.5rem 0;
      font-size: 0.8rem;
      background-color: var(--callout-background-color);
      color: var(--text-color);
      cursor: pointer;
    }
  }

  .table-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;

    @mixin mobile-guttered;
  }

  .filters {
    display: flex;
    flex-direction: row;
    align-items: center;

    .filters-title {
      margin-right: 0.8rem;
      color: var(--text-color-muted);
    }

    .filter {
      display: inline-block;
      background-color: var(--tag-background-color);
      color: var(--tag-text-color);
      border-radius: 0.5rem;
      font-size: 0.8rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      overflow: hidden;

      .filter-title {
        padding: 0.3rem 0.4rem 0.3rem 0.8rem;
      }

      .close-button {
        color: var(--text-color);
        font-weight: bold;
        background-color: var(--tag-background-color);
        display: block;
        padding: 0.3rem 0.8rem 0.3rem 0.4rem;

        &:hover {
          background-color: var(--tag-background-color-hightlight);
        }
      }
    }
  }
}
