.admin-index-table {
  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    padding: 0;

    tbody {
      tr:nth-child(odd) {
        background-color: var(--callout-background-color);
      }

      td {
        padding: 0 1rem;

        a.primary-row-link {
          padding: 0.5rem 0;
          display: block;
          color: var(--text-color);

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .pagination {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;

    & > span {
      display: block;
      padding: 1rem 0.5rem;

      a {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .tags {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    & > .tag:not(:last-child) {
      margin-right: 0.5rem;
    }
  }

  .tag {
    padding: 0.3rem 0.8rem;
    display: inline-block;
    background-color: var(--tag-background-color);
    color: var(--tag-text-color);
    border-radius: 0.5rem;
    font-size: 0.8rem;
  }
}
