.roster {
  min-width: 100%;

  tbody {
    tr {
      td {
        min-width: 50px;
        /* position: relative; */

        &.user-slot {
          &[data-availability="unknown"] {
            background: repeating-linear-gradient(45deg, var(--slate-700), var(--slate-700) 4px, transparent 4px, transparent 8px);
          }
        }
      }
    }
  }

  &:not(.editing) {
    tbody.edit-actions {
      display: none;
    }
  }

  &.editing {
    thead {
      tr.actions {
        a {
          cursor: not-allowed;
          opacity: 0.5;
        }
      }
    }

    tbody {
      td.user-slot:not(.editing) {
        opacity: 0.4;
        cursor: not-allowed;
      }

      td.user-slot.editing {
        cursor: pointer;
        background-color: var(--slate-500);
      }
    }
  }
}
