table.roster {
  min-width: 100%;
  border-spacing: 0;

  thead {
    tr.actions {
      th {
        text-align: center;
      }
    }
  }

  tbody.slots-body {
    tr {
      td {
        /* position: relative; */

        border: 2px solid var(--background-color);

        &.day {
          width: 2em;
        }

        &.weekday {
          width: 3em;
        }

        &.session-name {
          width: 9em;
          font-size: 0.8em;
          opacity: 0.75;
        }

        &.user-slot {
          min-width: 50px;
          height: 2rem;
          text-align: center;
          color: black;

          &[data-availability="unknown"] {
            background: repeating-linear-gradient(45deg, var(--slate-600), var(--slate-600) 4px, transparent 4px, transparent 8px);
            opacity: 0.8;
          }

          &[data-availability="busy"] {
            background-color: red;
          }

          &[data-availability="available"] {
            background-color: orange;
          }

          &[data-role="manager"] {
            border: 2px solid green;
          }
        }
      }

      td.manager {
        width: 12em;
      }
    }
  }

  tbody.edit-actions td div {
    display: none;
    padding: 0.5em 0;

    a {
      margin-right: 0.5em;
    }
  }

  &.editing {
    thead {
      tr.actions {
        a {
          cursor: not-allowed;
          opacity: 0.5;
        }
      }

      th.user-header:not(.editing) {
        display: none;
      }
    }

    tbody.slots-body {
      td.user-slot:not(.editing) {
        opacity: 0.4;
        cursor: not-allowed;
        display: none;
      }

      td.user-slot.editing {
        cursor: pointer;
        opacity: 1;
      }
    }

    tbody.edit-actions {
      div.edit-user-action {
        display: block;
        padding: 0.5em 0;

        a {
          margin-right: 0.5em;
        }
      }
    }
  }

  &.editing-manager {
    thead {
      tr.actions {
        th {
          a {
            cursor: not-allowed;
            opacity: 0.5;
          }
        }
      }
    }

    tbody {
      td.user-slot {
        &:hover {
          border: 2px solid green;
          box-model: border-box;
        }
      }
    }

    tbody.edit-actions {
      div.edit-manager-action {
        display: block;
      }
    }
  }
}
