<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/shared/head' %>
  </head>

  <body class="theme-gold theme-inverted layout-admin">
    <%= render 'layouts/shared/flash' %> <%= yield %>
  </body>
</html>
