<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/shared/head' %>
  </head>

  <body class="theme-blue with-navbar">
    <%= render 'layouts/shared/flash' %> <%= render 'layouts/shared/navbar', with_hero: current_page?('/') %> <%= yield %>
  </body>
</html>
