<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/shared/head' %>
  </head>

  <body class="devise theme-blue layout-devise">
    <%= render 'layouts/shared/flash' %>

    <div class="form-container"><%= yield %></div>
  </body>
</html>
